#
# Smexybot Configuration
#

# The Discord bot token to be used for login. By default, the bot will attempt
# to login via this token first, and only upon failure will it fall back to
# email/password-based login.
export DISCORD_BOT_TOKEN="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

#
## Plugin Configurations
#

# XKCD
export GOOGLE_XKCD_CUSTOM_SEARCH_API_KEY="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
export GOOGLE_XKCD_CUSTOM_SEARCH_ENGINE_ID="012345678901234567890:AAAAAAAAAAA"

# Wolfram
export WOLFRAM_ALPHA_API_APP_ID="ABC123-ABC123ABCD"
