#
# Smexybot Configuration
#

# The Discord bot token to be used for login. By default, the bot will attempt
# to login via this token first, and only upon failure will it fall back to
# email/password-based login.
export DISCORD_BOT_TOKEN="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"
# Email and password to use as a fallback login for the bot (NOTE: this is NOT
# the preferred method, use a token instead!).
export DISCORD_EMAIL="your@email.com"
export DISCORD_PASSWORD="your_password"
